<% layout('layouts/boilerplate') %>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <form action="/register" class="validated-form" novalidate method="POST">
                <div class="mb-3">
                    <h2>Register New User</h2>
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>